.flight-status-detials {
  width: 60%;
}

.flight-details-card {
  margin: 5px auto;
  padding: 20px;
}

.flight-status-title {
  padding-left: 0px !important;
}

.flight-status-title .flight-status {
  height: 40px;
  width: 33%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flight-details-header {
  margin: 10px 0px 40px;
}

.flight-details-status {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px !important;
}

.flight-details-status p {
  font-size: 28px;
  font-weight: 400;
}

.flight-icon {
  flex-grow: 1;
  margin: 0px 20px !important;
  display: inline-block;
  text-align: center;
}
